body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:black;
    background-image: url("images/loop.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
}

#main{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-bottom:80px;
    
}

#console1{  
    width:70%;
    height:700px;
    background-color:rgba(0, 0, 0, 0.800);
    border:solid;
    border-color:white ;
    margin-top:20px;
    margin-bottom:20px;
    color:white;
}

#console2{
   width:100%;
   background-color: white;
   color:black;
   border-radius: 1px; 
}

.text{
    font-size:20px;
}

.text-art{
    font-size:25px;
    text-align:center;
}

#icon-menu{
    width:90%;
    height:190px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.800);
    border-radius:30px;
}

.icon-menu-svg{
    width:140px;
    height:140px;
    color:white;
    fill:currentColor;
}

.icon-menu-link{
    font-size: 30px;
    color:white;
    text-decoration: none;
}

svg:hover{
    color:#0351dd;
}

.options{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.options-link{
    width:100%;
    text-align:center;
}

#home{
    width:80px;
    height:80px;
    background-color: black;
    border-radius:10px;
}
.home-svg{
    width: 80px;
    height: 80px;
    color: white;
    fill:currentColor;
    
}
.home-svg:hover{
    color:#0351dd;
}

#about-console{
    width:70%;
    height:700px;
    background-color:rgba(0, 0, 0, 0.800);
    border:solid;
    border-color:white ;
    margin-top:20px;
    margin-bottom:20px;
    color:white;
}

form{
    text-align: center;
}

.input-container {
    height: 50px;
    width: 100%;
}
  
#message {
    height:200px;
}

.ic1 {
    margin-top: 95px;
}
  
.ic2 {
    margin-top: 30px;
}
  
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 40%;
}
 
.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 20%;
}
  
.submit:active {
    background-color: #06b;
}

#footer{
    width: 100%;
    height:150px;
    background-color:black;
    border:solid white 1px;
    border-left:none;
    border-right:none;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
}

#footer-link{
    margin-right:20px;
    color:white;
}

.footer-iconLink{
    width:20px; 
    height:20px;
}

.footer-a{
    color:white;
    text-decoration: none;
}

ul{
    display:inline;
    list-style-type:none;
    padding-left:0;
}


@media screen and (min-width:300px) and (max-width:1100px){
    #main{
        width:100%;
        height:1700px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        margin-bottom:80px;    
    }

    #console1{  
        width:95%;
        height:1200px;
        background-color:rgba(0, 0, 0, 0.800);
        border:solid;
        border-color:white;
        color:white;
        margin-top:20px;
        margin-bottom:60px;
    }

    #about-console{
        width:95%;
        height:1900px;
        background-color:rgba(0, 0, 0, 0.800);
        border:solid;
        border-color:white ;
        margin-top:5px;
        margin-bottom:50px;
        color:white;
    }

    .ic1 {
        margin-top:300px;
    }

    .input {
        background-color: #303245;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 80%;
    }

    .submit {
        background-color: #08d;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        outline: 0;
        text-align: center;
        width: 60%;
    }
    
    .text{
        font-size:40px;
    }

    
    #icon-menu{
        width:90%;
        height:300px;
        display:flex;
        justify-content: space-around;
        align-items:center;
        background-color:rgba(0, 0, 0, 0.800);
        border-radius:30px;
    }
    
    .icon-menu-svg{
        width:160px;
        height:160px;
        color:white;
        fill:currentColor;
    }

    .icon-menu-link{
        font-size: 25px;
        color:white;
        text-decoration: none;
    }

    #footer{
        width: 100%;
        height:300px;
        background-color:black;
        border:solid white 1px;
        border-left:none;
        border-right:none;
        display:flex;
        align-items:center;
        justify-content:center;
        color:white;
    }

    .footer-a{
        font-size:20px;
    }

    #©{
        font-size:20px;
    }

    .footer-iconLink{
        width:30px; 
        height:30px;
    }

    li{
        font-size:13px;
    }

}